.content {
    width:50%;
}

.product-item {
    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.product-item__image {
    width: 200px;
}

.product-item__image img {
    width: 200px;
}

.product-item__description {
    width: 400px;
}